# Deployment buildout
# ===================

[buildout]
parts =
    ${buildout:lxml-parts}
    ${buildout:haproxy-parts}
    ${buildout:varnish-parts}
    ${buildout:nginx-parts}
    ${buildout:runscript-parts}
    ${buildout:vhosts-parts}
    supervisor

extends =
    packages.cfg
    buildout.d/lxml.cfg
    buildout.d/haproxy.cfg
    buildout.d/varnish.cfg
    buildout.d/nginx.cfg
    buildout.d/runscript.cfg
    buildout.d/vhosts.cfg

auto-checkout =

# Make sure buildout never attempts to update packages automatically for
# production use.
always-checkout = false

# Host names/IP addresses. See below for corresponding ports.
[hosts]
main            = 127.0.0.1
# The host that nginx proxies to
nginx-backend   = ${:varnish}
# The hostname/address that Varnish binds to
varnish         = localhost
# The hosts that are allowed to issue PURGE reuqests to Varnish
allow-purge     = localhost
# The IP address that Varnish proxies to (do not use a hostname)
varnish-backend = 127.0.0.1
# The hostname that HAProxy binds to
haproxy         = localhost
# Where to find the syslog deamon to log to
syslog          = localhost
# The hostname that memcached binds to
memcached       = localhost
# The hostname that supervisord binds to
supervisor      = localhost
# The public hostname used in virtual hosting, i.e. the public facing domain
public          = fuenfzufuenf.vorwaerts-werbung.de
zope1           = a-map.de
zope2           = miamo.de
zope3           = imuaugsburg.de
zope4           = pg.coraggio.de
zope5           = commerzienrat.com
zope5-1         = kneipe-augsburg.de
zope6           = rent-my-expert.de
zope7           = isp-scholz.de
zope7-1         = isp-scholz.com
zope7-2         = isp-m.de
zope7-3         = isp-we.de
zope7-4         = isp-l.de
zope7-5         = isp-la.de
zope8           = locomotec.com
zope8-1         = egomotion.com
zope8-2         = egomotion.coraggio.de
zope8-3         = egomotion.coraggio.de


# Port corresponding to the hostnames above. Note that to bind to ports
# < 1024, you will need to run ./bin/supervisord as root!
[ports]
http            = 80
https           = 443
nginx-backend   = ${:varnish}
varnish         = 8100
varnish-backend = ${:haproxy}
haproxy         = 8200
haproxy-stats   = 8222
instance-debug  = 8499
syslog          = 514
memcached       = 11211
database        = 3306
supervisor      = 9001
zope1           = 8401
zope2           = 8402
zope3           = 8403
zope4           = 8404
zope5           = 8405
zope6           = 8406
zope7           = 8407
zope8           = 8408

[users]
# Process owners for nginx, varnish, haproxy, memcached and Zope
nginx            = www
varnish          = www
haproxy          = www
zope-process     = www
memcached        = www

# System user accounts for Zope root admin, database access and Supervisor
zope-admin       = zope-admin
database         = zope
supervisor-admin = supervisor-admin

# Passwords for the accounts above
[passwords]
zope-admin       = walootw11
database         = secret
supervisor-admin = %(X"s7pU"5V

# Database instances for SQLAlchemy and RelStorage
[databases]
optilux = optilux
zodb    = zodb

[locations]
templates = ${buildout:directory}/etc/templates
config = ${buildout:directory}/etc/vhosts

# How should varnish store its cache? Increase thesize, in megabytes, as required
[varnish-options]
storage = malloc,1024M
tuning = -p thread_pools=4

[limits]
# How many open files are allowed? This affects the number of concurrent
# connections. On some operating systems, this is set on startup per user
# as the ulimit
open-files = 1024
# Timeout of inactivity for Beaker sessions
session-timeout = 600

[urls]
# This URL is used in the nginx configuration to serve an error page when
# HAProxy detects no viable backend
fallback = /system-error

[sites]
# Plone site ids - used in virtual hosting
main    = localhost
zope1   = a-map
zope2   = miamo
zope3   = imu
zope4   = meetshaus
zope5   = steinacher
zope6   = bail
zope7   = arge
zope8   = ssm
zope9   = hermuth
zope10  = multifloor
zope11  = a-map

# Install supervisor, which runs on port 9001
# Run: ``bin/supervisord``
# Run: ``bin/supervisorctl --help``
[supervisor]
recipe = collective.recipe.supervisor
port = ${ports:supervisor}
user = ${users:supervisor-admin}
password = ${passwords:supervisor-admin}
serverurl = http://${hosts:supervisor}:${ports:supervisor}
programs =
    
    10 nginx                ${nginx-build:location}/sbin/nginx true 
    20 varnish              ${varnish-build:location}/sbin/varnishd [-F -s ${varnish-options:storage} -f ${buildout:directory}/etc/varnish.vcl -a :${ports:varnish} ${varnish-options:tuning}] true ${users:varnish}
    30 haproxy              ${buildout:directory}/bin/haproxy       [-f ${buildout:directory}/etc/haproxy.conf] true ${users:haproxy}
    40 instance-deluca      ${zope-locations:zope1}/bin/instance [console] true ${users:zope-process}
    40 instance-sheacare    ${zope-locations:zope2}/bin/instance [console] true ${users:zope-process}
    40 instance-reggio      ${zope-locations:zope3}/bin/instance [console] true ${users:zope-process}
    40 instance-pg          ${zope-locations:zope4}/bin/instance [console] true ${users:zope-process}
    40 instance-comrat      ${zope-locations:zope5}/bin/instance [console] true ${users:zope-process}
    40 instance-rme         ${zope-locations:zope6}/bin/instance [console] true ${users:zope-process}
    40 instance-isps        ${zope-locations:zope7}/bin/instance [console] true ${users:zope-process}
    40 instance-locomotec   ${zope-locations:zope8}/bin/instance [console] true ${users:zope-process}
